In [11]:
# Opening the dataset file and read it
corpus = open('dataset3.txt').read()

In [12]:
# split the doc where the line breaks
data = corpus.split('\n')
data

['milk bread bread bread : grocery',
 'bread milk milk bread : grocery',
 'milk milk milk bread bread bread bread : grocery',
 'cat cat cat dog dog bark : pets',
 'dog dog cat bark mew mew : pets',
 'cat dog cat dog mew cat : ']

In [13]:
corpus

'milk bread bread bread : grocery\nbread milk milk bread : grocery\nmilk milk milk bread bread bread bread : grocery\ncat cat cat dog dog bark : pets\ndog dog cat bark mew mew : pets\ncat dog cat dog mew cat : '

In [14]:
# Split the data into input features and output labels
X = [doc.split(' : ')[0] for doc in data]
y = [doc.split(' : ')[1] for doc in data]

In [15]:
X

['milk bread bread bread',
 'bread milk milk bread',
 'milk milk milk bread bread bread bread',
 'cat cat cat dog dog bark',
 'dog dog cat bark mew mew',
 'cat dog cat dog mew cat']

In [17]:
y

['grocery', 'grocery', 'grocery', 'pets', 'pets', '']

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
vec = CountVectorizer()

In [23]:
vec.fit(X)
vocab = vec.vocabulary_

In [25]:
# Convert the input features into a matrix of word frequencies 
X = vec.transform(X).toarray()

In [26]:
X

array([[0, 3, 0, 0, 0, 1],
       [0, 2, 0, 0, 0, 2],
       [0, 4, 0, 0, 0, 3],
       [1, 0, 3, 2, 0, 0],
       [1, 0, 1, 2, 2, 0],
       [0, 0, 3, 2, 1, 0]], dtype=int64)

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
# Encode the output labels as numerical values
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [30]:
y

array([1, 1, 1, 2, 2, 0], dtype=int64)

In [31]:
import pandas as pd

In [33]:
# Create a DataFrame to store the pre-processed data
df = pd.DataFrame(X, columns=vocab.keys())
df['category'] = y
df

   milk  bread  cat  dog  bark  mew  category
0     0      3    0    0     0    1         1
1     0      2    0    0     0    2         1
2     0      4    0    0     0    3         1
3     1      0    3    2     0    0         2
4     1      0    1    2     2    0         2
5     0      0    3    2     1    0         0

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
# Split the data into training and testing sets
X_train = df.iloc[:-1, :-1]
y_train = df.iloc[:-1, -1]
X_test = df.iloc[-1, :-1].values.reshape(1, -1)

In [36]:
# Train a logistic regression model
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [38]:
# Predict the category of the last document
y_pred = clf.predict(X_test)
category = label_encoder.inverse_transform(y_pred)[0]
print(f"The predicted category is: {category}")

The predicted category is: pets

C:\Users\Uzair Afridi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(