In [1]:
import numpy as np
import pandas as pd

In [4]:
fao = pd.read_csv('datasets/FAOSTAT_data_pak.csv')
fao.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,586,Pakistan,5312,Area harvested,01371,"Almonds, in shell",2000,2000,ha,10732.0,A,Official figure
1,QCL,Crops and livestock products,586,Pakistan,5312,Area harvested,01371,"Almonds, in shell",2001,2001,ha,10984.0,A,Official figure
2,QCL,Crops and livestock products,586,Pakistan,5312,Area harvested,01371,"Almonds, in shell",2002,2002,ha,9560.0,A,Official figure
3,QCL,Crops and livestock products,586,Pakistan,5312,Area harvested,01371,"Almonds, in shell",2003,2003,ha,9231.0,A,Official figure
4,QCL,Crops and livestock products,586,Pakistan,5312,Area harvested,01371,"Almonds, in shell",2004,2004,ha,10120.0,A,Official figure

In [5]:
fao[['Value']].mean()

Value    1.836714e+06
dtype: float64

In [9]:
fao.value_counts(['Item'])

Item
Hen eggs in shell, fresh                         110
Eggs from other birds in shell, fresh, n.e.c.    110
Almonds, in shell                                 66
Other beans, green                                66
Pears                                             66
                                                ...
Buttermilk, dry                                   18
Oil of sesame seed                                18
Butter of cow milk                                13
Whole milk, condensed                             13
Butter of buffalo milk                            11
Length: 140, dtype: int64

In [11]:
fao.groupby(['Domain Code'])